* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    align-content: center;
    align-items: center;
}
body {
    align-content: center;
    align-items: center;
}

.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 16%;
    box-sizing: border-box;
    transition: .5s;
    
}
nav.black{
    background: #7422ff;
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo  img{
    height: 40%; 
    transition: .5s;
    list-style: none;
    display: inline-block;
    padding: 30%;
    position: relative;

}
nav.black .logo img{
    height: 70%;
    list-style: none;
    display: inline-block;
    padding: 20% 10%;
    position: relative;
}
nav > ul{
    width: 80%;
    margin-right:  100px;
    padding: 0;
    float: right;
    display: flex;
    justify-content: end;
}
nav > ul > li{
    list-style: none;
    padding: 8px 12px;
    position: relative;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;

}

nav > ul > li > a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    transition:  ease-in-out .05s;   
}


  nav ul li :hover {
    border-bottom: medium solid #fead1c;
    
  }
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav.black > ul > li > a{
    color: #fff;
    line-height: 60px;
}



section.sec1{
    width: 100%;
    height: 100vh;
    background: url('../images/background.png');
    background-size: cover;
}
section.content{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}
@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: #262626;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu h4{
        float: right;
        color: #fff;
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: #262626;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: absolute;
        width: 100%;
        top: 60px;
        left: 0;
        background: #262626;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color: #fff;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}


/* //////////new */



.text-box {
    font-weight: 100;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 38px;
    color: white;
}

.header-row img{
    width: 100%;
}
.sub-word {
    color: #fead1c;
    
}
.header-row {

    width: 100%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bg-vendors {
    background-color: #282931;

}

.about {
    margin: auto;
    width: 95%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-bottom: 2%;
    padding-top: 5%;    
}
.text-about {
    text-align: justify;
    padding-left: 5%;
}
.about h2 {
    margin-top: 2%;
    color: #7422ff;
    
}
.about-body {
   
    margin: 5%;
    width: 75%;
    display: flex;
    justify-content: space-around; 
    color: gray;
}
.gradient-btn {
    margin: auto;
    padding: 20px;
    color: white;
    background-color: #7422ff;
    border-radius: 40px;
    font-weight: 100;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Services */

.services {
    padding-bottom: 5%;
    margin: auto;
    width: 95%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.services h2 {
    margin-top: 2%;
    color: #7422ff;
    
}

.services-row {
    display: grid;
    padding: 10px;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.services-row2 {
    display: grid;
    padding: 10px;   
    margin: 65px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
}
@media(max-width: 700px) {

    .vendors {
        display: inline-block;
        }

    .services-row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);         
        grid-gap: 6rem;
    }
    
    .services-row2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);         
        grid-gap: 6rem;
    }
    
.text-box {
    font-weight: 70;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 18px;
    color: white;
}
.header-row {

    width: 100%;
    padding-top: 20%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.vendors{
    display: block;
    grid-template-columns: repeat(1, 2fr);
    
}
 
}
.card-divider{
    height: 2px;
    width: 100%;
    background-color: #fead1c;
    
}
.card {
    justify-content: space-between;
    align-items: center;
    height: 110%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; 
    background-color: white;
    padding: auto;
display: table;
}
.card p {
    font-weight: 100;
    color: gray;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.card img {
    padding: 5%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.title {
    font-size: 25px;
}
.card-title {
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 90%;
    color: gray;
}
.card-btn {
   
    display : table-row-group;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    vertical-align : bottom;
    bottom: 0;
    
}
.btn{
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    color: white;
    background-color: #7422ff;
    border-radius: 40px;
    font-weight: 100;
    width: 35%;
}

.btn:hover {
    background-color: white;
    color: #7422ff;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    
}

.vooomers h2 {
    margin-top: 2%;
    color: #7422ff;
    padding-bottom: 20px;
        font-weight: 200;
}

.vooomers p {
    width: 70%;
    margin: auto;
    color: gray;
    font-weight: 200;
}

.gradient-label {
background-color: #7422ff;
width: 10%;
height: 3px;
margin-bottom: 20px;  
}
.gradient-btn-vendors{
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #7422ff;
    border-radius: 40px;
    font-weight: 100;
    text-align: center;
    width: 55%;
    font-display: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.vendors-content {

width: 100%;    
color: gray;
font-weight: 200;
    
}
/* .bg-label {
    background-color: #5900ae;
    border-radius: 25px;
    width: 100%;
    display: flex;
    height: 100%;
    padding: auto;
} */

  

.vendor-img {
    /* float: left; */
    border-radius: 25px;
    margin: 15px;
    background-position: center;
    width: 100%;
    height: 100%;
}
.vendors {
padding: 40%;
display: grid;
grid-template-columns: repeat(2, 5fr);
width: 100%;    
color: gray;
font-weight: 200;
}
.vooomers {
    margin: auto;
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 2%;
}
.mobile-app {
    width: 100%;
    background-color: #F2EFE7;
}
.app-container {
    display: flex;
    padding-left: 5%;
   
}
.mobile-app-content{
    color: #7422ff;
    width: 65%;
    font-size: 30px;
}
.download {
    padding: 2%;
    display: flex;
    justify-content: space-around;
}
.img-fade {
    padding-top: 20%;
}

footer{
    /* position: fixed; */
    background: #262626;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 h4{
     color: #AFAFB6;
     font-size: small;
     padding: auto;
 }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #262626;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #313131;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  


  /* //// */
  